extends container
block contents    
    form(method="POST")
        div
            label Username
            input(type="text" name="username" placeholder="Username" value=username)
        div
            label Password
            input(type="password" name="password" placeholder="Password")
        div
            button(type=submit) Login
