extends container
block contents
    h1
        | Topics:
    ul
        each topic in topics
            li
                a(href="topic/" + topic._id)
                    | #{topic.title} 
                    em
                        | (#{topic.author})
        else 
            div
                | No topics
    a(href="/new-topic") New topic
        
