extends container
block contents
    if topic 
        h1 
            =topic
        each post in posts
            div 
            | #{post.postText} 
            em
                | (#{post.author})
        form(method="POST")
            textarea(name="post_text")
            input(type="submit" value="Post")
    else
        h1 No such topic!
        
